.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	display: none;
	@media (max-width:1000px) {
		display: flex;
	}
	.icons {
		display: flex;
		gap: 0 20px;
	}
	
}
