.root {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0	;
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	.center {
		width: 722px;
		.top {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0 20px;
			.icon {
				width: 22px;
				height: 22px;
				color: #b3b3b3;
				cursor: pointer;
				&:hover {
					color: white;
				}
			}
			.iconPlay {
				width: 32px;
				height: 32px;
				color: #b3b3b3;
				cursor: pointer;
				&:hover {
					color: white;
				}
			}
		}
		.bottom {
			display: flex;
			align-items: center;
			gap: 0 10px;
			.time {
				color: #b3b3b3;
				font-size: 12px;
			}
		}
	}
	
}